.App {
  background: linear-gradient(rgb(93, 163, 190),rgb(171, 231, 255));
  font-family: didact gothic;
  height: 100vh;
}

.navbar {
padding: 0;
}

.my-form {
  font-size: 2rem;
  color: white;
}

.my-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.button {
  background-color: rgb(93, 163, 190);
  border-color: rgb(93, 163, 190);
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
/*@media screen and (min-width: 601px) {
  .my-form {
    font-size: 18px;
  }
}*/

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .my-form {
    font-size: 18px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
}

.textarea {
  width: 70vw;
  height: 20vh;
}

